.button-stop{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: linear-gradient(135deg, #FF0000 0%, #671212 100%);
    margin: 100px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
;
}