@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');

body {
    color: #f3f3f3;
    font-family: "Open Sans Condensed", serif;
}

.mainWindow {
    background: url("../images/background2.png") no-repeat center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.mainWindow .window-1{
    margin: 0 auto;
}

.header {
    width: 75%;
    margin: 2em auto;
    display: block;
}
.header h1 {
    color: #f3f3f3;
    text-align: left;
    font-size: 40px;
}
.header hr {
    filter: brightness(50%);
}

.header .technique-title{
    display: inline-block;
    cursor: pointer;
}

@media (max-width: 1280px) {
    .header h1 {
        color: #f3f3f3;
        text-align: left;
        font-size: 30px;
    }
}

@media (max-width: 1920px) {
    .header {
        width: 75%;
        margin: 2em auto;
        display: block;
    }

    .header h1 {
        color: #f3f3f3;
        text-align: left;
        font-size: 25px;
    }
}