@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap');


.remain-current{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-right: 7em;
    font-size: 40px;
    font-family: "Open Sans Condensed", serif;
}

.remain-current p {
    margin-bottom: 0;
}

.remain-current p.timers{
    font-size: 35px;
}

.remain-current .numbers {
    display: flex;
    align-self: flex-end;
    align-items: flex-end;
    gap: 20px;
    font-size: 60px;
}

.remain-current .not-current {
    font-size: 50px;
}

@media (max-width: 1600px) {
    .remain-current{
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 8em;
        font-size: 25px;
        font-family: "Open Sans Condensed", serif;
    }

    .remain-current .numbers {
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        gap: 20px;
        font-size: 40px;
    }

    .remain-current .not-current {
        font-size: 35px;
    }
}

@media (max-width: 1280px) {
    .remain-current{
        display: flex;
        flex-direction: column;
        text-align: right;
        margin-right: 7em;
        font-size: 25px;
        font-family: "Open Sans Condensed", serif;
    }

    .remain-current .numbers {
        display: flex;
        align-self: flex-end;
        align-items: flex-end;
        gap: 20px;
        font-size: 30px;
    }

    .remain-current .not-current {
        font-size: 25px;
    }
}
